/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* font is loaded locally. You can use these fonts in the template */
@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0 auto;
  background-color: lightgrey;
  color: white;
}

header,
main {
  margin-top: 0;
}

header {
  display: contents;
}

.containerz {
  object-fit: cover;
}

.image-container-1 {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  top: 0;
  justify-content: center;
  align-content: center;
}

.image-container-2 {
  display: flex;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 1400px;
  justify-content: center;
  align-content: center;
}

.header-a {
  width: 250px;
  float: left;
  margin-left: 15vw;
  position: relative;
}

.header-b {
  width: 250px;
  float: right;
  margin-right: 15vw;
  text-align: end;
  position: relative;
}

.horizontal-line {
  position: relative;
  color: white;
  width: 100%;
  margin: 0 0 0 0;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.organic-logo {
  display: flex;
  margin-left: 15vw;
  width: 200px;
  justify-content: left;
}

.banner-logo {
  display: flex;
  width: 150px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-container {
  display: flex;
  justify-content: right;
  margin-right: 15vw;
  margin-top: -35px;
}

.menu-item {
  display: inline;
  padding: 0 5px;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.shop-now-button {
  width: 180px;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  color: white;
  background-color: rgb(106, 255, 47);
  text-align: center;
  cursor: pointer;
}

.shop-now-button:hover {
  width: 185px;
  height: 40px;
}

h2 {
  font-weight: 300;
}

.main-content {
  background-color: lightgrey;
  margin-top: 250px;
  padding-top: 50px;
  height: 250px;
  color: black;
  font-weight: 500;
}

.card-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  margin: 0 auto;
  padding-left: 25vw;
  margin-top: 50px;
  color: black;
}

.card {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 350px;
  width: 250px;
  margin: 25px;
}

.card:hover {
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 35px 16px;
}

footer {
  position: relative;
  text-align: center;
  background-color: lightgrey;
  color: black;
  height: 400px;
  margin-top: 1050px;
  padding-top: 50px;
  font-weight: 400;
}
